set nu rnu
set visualbell
set ignorecase true
set smartcase true

"" Don't use arrow keys
map <up> <nop>
map <down> <nop>
map <left> <nop>
map <right> <nop>

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

"" more nav options
nnoremap J 5j
nnoremap K 5k

"" navigate changelist
nnoremap g; :action JumpToLastChange<Enter>
nnoremap g, :action JumpToNextChange<Enter>

set commentary
set surround
