Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

set nu rnu
set visualbell
set ignorecase true
set smartcase true

"" Don't use arrow keys
map <up> <nop>
map <down> <nop>
map <left> <nop>
map <right> <nop>

"" more nav options
nnoremap J 5j
nnoremap K 5k

"" navigate changelist
nnoremap g; :action JumpToLastChange<Enter>
nnoremap g, :action JumpToNextChange<Enter>

let mapleader=" "
map <leader>p <Action>(SelectInProjectView)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)

inoremap jj <Esc>
